.bg {
    --ion-background-color: rgb(255,132,0) !important;
    --ion-background-color: linear-gradient(0deg, rgba(255,132,0,1) 0%, rgba(198,55,55,1) 37%) !important;
  }

 
  .mat-form-field {
    margin-top: 16px;
  }

  .create-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .input-full-width {
    width: 100%;
  }

  .bar{
    background-image: url("../../assets/main-page.png");
    background-repeat: no-repeat;
    background-position: unset;
    background-size: cover;
    position: fixed;
    height: 200px;
    width: 100%;
    z-index: 1;
    text-align: center;
    }

    #dock {
      margin-top: 170px;
      display: flex;                  /* establish flex container */
      flex-direction: row;            /* default value; can be omitted */
      flex-wrap: nowrap;              /* default value; can be omitted */
      justify-content: space-between; /* switched from default (flex-start, see below) */
     
    }

    .nave-button{
      //position: fixed;
      z-index: 2;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      justify-content: space-between;
    }